@import 'keyframes.scss';

.formContainer {
    margin-top: -3rem;
    animation: slideInFromLeft 1.5s ease forwards;
}

h1 {
    color: black;
    font-size: 2.3rem;
    line-height: 3.5rem;
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 10px #6995af, 0 0 10px #6995af, 0 0 10px #6995af, 0 0 10px #6995af, 0 0 25px #6995af;
}

input, ::placeholder {
    width: 13rem;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.601);

}
input {
    color: white;
    

    &:focus::placeholder {
    opacity: 0;
}
}

button {
    margin: auto;
    display: block;
    color: white;
    padding: 0.6rem;
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0.852);

    &:hover {
        text-shadow: 0 0 5px #fff, 0 0 5px #0099ff, 0 0 10px #0099ff, 0 0 10px #0099ff
}
}