@import 'keyframes.scss';

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
    .modalContent {
      background: white;
      padding: 3rem;
      border-radius: 5px;
      font-size: 1.3rem;
      animation: fadeIn 0.6s ease;
      
      p {
        margin: 2rem 0;
        border-bottom: 0.01rem solid black;
        .winnerTxt,
        .scoreTxt {
          font-weight: bold;
        }
  
      .winnerTxt {
        color: green;
        margin-right: 1rem;
      }
      .scoreTxt {
        color: blue;
        margin: 0 1rem;
      }
    }
    
    .resetScoreBtn, 
    .closeModalBtn {
      transition: 0.3s;
      padding: 0.3rem;
      font-size: 1.2rem;
      margin: 4rem 2rem 0 0;
      border: 0.01rem solid black;
    }
  
    .resetScoreBtn {
      background-color: yellow;
      &:hover {
   background-color: rgb(179, 179, 2);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
      }
    }
    
    .closeModalBtn {
      background-color: red;
      &:hover {
        background-color: rgb(167, 1, 1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
      }
    }
    
  }
    
  }
  